@media only screen and (max-width:576px) /*Mobile*/{

    nav {
        flex-direction: column;
        text-align: center;
    }

    .home-main{
        h1{
            font-size: 3em;
            text-align: center;
            padding: 160px 0;
        }
        section{
            .home-article1{
                h2{
                    font-size: 2em;
                }
                p{
                    font-size: 1em;
                }
                ol{
                    font-size: 1em;
                    li{
                        margin-top: 2em;
                    }
                }
            }
            .home-article2{
                .surftrips-contenedor{
                    flex-direction: column;
                    .surftrips-item{
                        img{
                            width: 20em;
                        }
                    }
                }
            }
        }
    }


    .destinos-main {
        .destinos-intro{
            .banner-destinos{
                font-size: 2em;
                text-align: center;
                padding: 160px 0;
            }
            .textointro-destinos{
                font-size: .8em;
            }
            .textointro2-destinos{
                font-size: .7em;
            }
            a{
                width: 10em;
                margin: 1em;
            }
        }
        .destinos-paises{
            article{
                h2{
                    font-size: 2em;
                }
                .paises-contenedor{
                    flex-direction: column;
                    .pais-data{
                        h3{
                            font-size: 1.5em;
                        }
                        p{
                            font-size: .7em;
                        }
                        img{
                            width: 20em;
                            height: 13em;
                        }
                    }
                }
            }
        }
    }   
    
    .nosotros-main{
        .banner-nosotros{
            font-size: 3em;
            text-align: center;
            padding: 160px 0;
        }
        .nosotros-section{
            .titulos-nosotros{
                font-size: 2.2em;
            }
            article{
                .quienessomos-contenedor{
                    flex-direction: column;
                    .nosotrosfoto1{
                        width: 20em;
                        margin-left: 0;
                    }
                    .nosotrostexto{
                        font-size: .8em;
                        padding-top: 2em;
                    }
                }
            }
            .equipo-contenedor{
                flex-direction: column;
                .equipo-item{
                    margin-bottom: 2em;
                }
            }
        }
    }

    footer{  
        #rrss{
            align-items: center;
            a{
                text-align: center;
                h3{
                    display: none;
                }
                svg{
                    width: 45px;
                }

            }
        }
        #copyright{
            h3{
                font-size: 2em;
            }
        }  
    }
    


    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 5em 20em 55em 120em 90em 5em;
        grid-template-areas: 
            "menu"
            "banner"
            "contenido"
            "contenido"
            "shop"
            "footer";
        grid-row-gap: 1em;

        .banner{
            font-size: 2em;
            text-align: center;
            padding:130px 0;
            width: 100%;
        }
        .infosurf-main{
            .infosurf-section{
                h2{
                    font-size: 1.8em;
                }
                .infosurf-article1{
                    .historiasurf-contenedor{
                        flex-direction: column;
                        img{
                            width: 100%;
                            margin-left: 0em;
                        }
                        p{
                            font-size: 1em;
                            margin-top: 3em;
                            width: 78%;
                        }
                    }
                }
                .infosurf-article2{
                    .reglassurf-contenedor{
                        flex-direction: column;
                        ul{
                            margin: 2em 0;
                            width: 70%;
                            li{
                                font-size: 1em;
                                margin: 3em 0;
                            }
                        }
                        img{
                            width: 100%;
                            margin-right: 0em;
                        }
                    }
                }
                .infosurf-article3{
                    .tablassurf-contenedor{
                        flex-direction: column;
                        img{
                            width: 100%;
                            margin-left: 0em;
                        }
                        ul{
                            width: 70%;
                            li{
                                font-size: 1.4em;
                                margin: 3em 0;

                            }
                        }

                    }
                }
            }
        }
        .aside-grid{
            margin: 0 1em;
            img{
                width: 300px;
            }
        }
    }
    

    .contacto-main{
        .section-contacto{
            .banner-contacto{
                font-size: 2em;
                padding: 180px 0;
                text-align: center;
            }
            h3{
                text-align: center;
                font-size: 1.5em;
            }
            form{
                input{
                    margin: 1em 0;
                }
                label{
                    display: block;
                }
                select{
                    margin: 1em 0;
                }
                textarea{
                    width: 240px;
                }
            }
        }
    }
}



@media (min-width: 576px) and (max-width: 768px) /*Tablet*/{

    nav {
        flex-direction: column;
        text-align: center;
    }
    .surftrips-contenedor{
        display: inline;
    }
    .surftrips-contenedor p {
        margin-bottom: 6em;
        text-align: center;
        font-size: 3vh;
    }
    .surftrips-text  {
        margin-bottom: 2em;
    }
    
    #rrss a {
        font-size: .3rem;
        
    }

    .paises-contenedor {
        display: inline;
        padding: 3em;
    }
    
    .destinos-intro h2 {
        font-size: 1.7em;
        padding: 2em 1em;
        font-weight: 100;
    }
    .pais-data img {
        width: 490px;
        height: 300px;
    }
    .pais-data p {
        font-size: .8em;
    }

    .destinos-paises h2 {
        font-size: 8vh;
    }

    .grid-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 5em 32em 50em 50em 115em 5em;
        grid-template-areas: 
            "menu menu"
            "banner banner"
            "contenido contenido"
            "contenido contenido"
            "shop shop"
            "footer footer";
        grid-row-gap: 1em;
    }
    .destinos-intro h1{
        font-size: 10vh;
    }
    aside {
        margin: 1em;
    }
    #rrss{
        a{
            text-align: center;
            h3{
                font-size: 3.5em;
                padding: 1em;
            }
        }
    }
}