
@media (max-width: 768px) /*Tablet*/{

    nav {
        flex-direction: column;
        text-align: center;
    }
    .surftrips-contenedor{
        display: inline;
    }
    .surftrips-contenedor p {
        margin-bottom: 6em;
        text-align: center;
        font-size: 3vh;
    }
    .surftrips-text  {
        margin-bottom: 2em;
    }
    
    #rrss a {
        font-size: .3rem;
        
    }

    .paises-contenedor {
        display: inline;
        padding: 3em;
    }
    
    .destinos-intro h2 {
        font-size: 1.7em;
        padding: 2em 1em;
        font-weight: 100;
    }
    .pais-data img {
        width: 490px;
        height: 300px;
    }
    .pais-data p {
        font-size: .8em;
    }

    .destinos-paises h2 {
        font-size: 8vh;
    }

    .grid-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 5em 32em 50em 50em 115em 5em;
        grid-template-areas: 
            "menu menu"
            "banner banner"
            "contenido contenido"
            "contenido contenido"
            "shop shop"
            "footer footer";
        grid-row-gap: 1em;
    }
    .destinos-intro h1{
        font-size: 10vh;
    }
    aside {
        margin: 1em;
    }
}


@media (max-width: 576px) /*Mobile*/{

    nav {
        flex-direction: column;
        text-align: center;
    }
    .home-main h1 {
        font-size: 7vh;
    }
    .home-main h2 {
        font-size: 6vh;
    }
    .home-main p {
        font-size: 3vh;
    }
    .home-main ol {
        font-size: 3vh;
    }
    .surftrips-item img {
        width: 48vh;
    }
    .surftrips-item p {
        font-size: 5vh;
    }
    .surftrips-contenedor{
        display: inline;
    }
    .surftrips-contenedor p {
        margin-bottom: 6em;
        text-align: center;
        font-size: 3vh;
    }
    .surftrips-text  {
        margin-bottom: 2em;
    }
    #rrss a {
        font-size: .3rem;
        
    }
    .paises-contenedor {
        display: inline;
        padding: 3em;
    }
    .destinos-intro h2{
        font-size: 4vh;
    }
    .destinos-paises h2 {
        font-size: 5vh;
    }
    .pais-data h3 {
        font-size: 3vh;
    }
    .pais-data p {
        font-size: 1vh;
    }
    .pais-data img {
        width: 30vh;
        height: 20vh;
    }
    h1 {
        font-size: 6vh;
    }
    .destinos-intro p {
        font-size: 2;
    }  
    .destinos-intro h1{
        font-size: 4vh;
    }
    .equipo-contenedor{
        flex-direction: column;
    }
    .quienessomos-contenedor{
        flex-direction: column;
    }
    .quienessomos-contenedor img{
        width: 20em;
    }
    .quienessomos-contenedor p{
        font-size: 1.2vh;
        margin-top: 20px;
    }
    .historiasurf-contenedor {
        flex-direction: column;
    }
    .reglassurf-contenedor {
        flex-direction: column;
    }
    .tablassurf-contenedor {
        flex-direction: column;
    }
    form {
        font-size: 2vh;
    }
    .contacto-main h3 {
        font-size: 1.3em;
    }
    textarea {
        width: 200px;
    }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 5em 35em 50em 80em 115em 5em;
        grid-template-areas: 
            "menu"
            "banner"
            "contenido"
            "contenido"
            "shop"
            "footer";
        grid-row-gap: 1em;
    }
    #rrss{
        text-align: center;
        
    }
}